<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Members<span class="sr-only">(current)</span></a>
            </li>
            {{# each member }}
            <li class="nav-item">
                    {{ this.first_name}} {{ this.last_name }}
            </li>
            {{/each}}
          </ul>
        </nav>


<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    <div class="mainbody">
          <h1 style="color: rgb(246,182,182);">Group Dashboard</h1>

          <section class="row text-center placeholders">
            <div class="col-4 col-sm-3 placeholder">
              <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
                Add Member
            </button>
            </div>
            <div class="col-4 col-sm-3 placeholder">
              <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm1">
                Add Bill
            </button>
            </div>
              {{# if settleOption}}
                <div class="col-6 col-sm-3 placeholder">
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm3">
                    Settle
                </button>
                </div>
              {{/if}}
            <div class="col-4 col-sm-3 placeholder">
             <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm2">
                Feedback
            </button>
            </div>
          </section>
    </div>
        <h2>Bills</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Paid By</th>
                  <th>Amount</th>
                  <th>Note</th>
                  <!--<th>Flag</th> -->
                </tr>
              </thead>
              <tbody>
              {{# each bill}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>{{this.amount}}</td>
                      <td>{{this.note}}</td>

                    </tr>
                {{/each}}
                 </tbody>
            </table>
          </div>

        </main>

<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add Member Details
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
               <form method="post"   id = "friend1" action="/users/addMember/{{groupId}}">
                <div class="form-group">
                        <label>Friend email</label>
                        <select form="friend1" class="form-control" name="member_email" placeholder="Enter Friend Details">

                            {{# each friend}}
                            <option value="{{this.email}}">{{this.name}}</option>
                            {{/each}}
                        </select>

                </div>
                            <button type="submit" class="btn btn-default">Submit</button>
              </form>


            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
            </div>
        </div>
    </div>
</div>

          <div class="modal fade" id="myModalNorm3" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                          <button type="button" class="close"
                                  data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                              <span class="sr-only">Close</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">
                              Are you Sure to Settle this Group's transactions?
                          </h4>
                      </div>

                      <!-- Modal Body -->
                      <div class="modal-body">

                          <form method="post"   id = "friend1" action="/users/group/settle/{{groupId}}">
                              <div class="form-group">
                              </div>
                              <button type="submit" class="btn btn-default">Yes</button>
                          </form>


                      </div>

                      <!-- Modal Footer -->
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default"
                                  data-dismiss="modal">
                              Cancel
                          </button>
                      </div>
                  </div>
              </div>
          </div>




 <div class="modal fade" id="myModalNorm1" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <!-- Modal Header -->
             <div class="modal-header">
                 <button type="button" class="close"
                         data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
                 </button>
                 <h4 class="modal-title" id="myModalLabel">
                     Add member Details
                 </h4>
             </div>

             <!-- Modal Body -->
             <div class="modal-body">

                 <form method="post" action ="/users/group/addBill/{{groupId}}">
                     <div class="form-group">
                         <label>Note</label>
                         <input type="text" class="form-control" name="note" placeholder="Comment" required>
                     </div>
                     <div class="form-group">
                         <label>Amount</label>
                         <input type="number" class="form-control" name="amount" placeholder="Amount" required>
                     </div>
                     <div class="form-group">
                         <div id="dynamicInput">
                             Divided Between<br>
                             <input list="friends" type="email" name="myInputs[]" placeholder="Partners name">
                             <datalist id="friends">
                                 {{# each member}}
                                     <option value="{{this.email}}">
                                 {{/each}}
                             </datalist>
                             <input type="number"  name = "myInputs1[]" placeholder="amount">
                         </div>
                     </div>
                     <input type="button" value="Add another text input" onClick="addInput('dynamicInput');">
                     <button type="submit" class="btn btn-default">Submit</button>
                 </form>
             </div>

             <!-- Modal Footer -->
             <div class="modal-footer">
                 <button type="button" class="btn btn-default"
                         data-dismiss="modal">
                     Close
                 </button>
             </div>
         </div>
     </div>
 </div>

 <div class="modal fade" id="myModalNorm2" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <!-- Modal Header -->
             <div class="modal-header">
                 <button type="button" class="close"
                         data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
                 </button>
                 <h4 class="modal-title" id="myModalLabel">
                     Add member Details
                 </h4>
             </div>

             <!-- Modal Body -->
             <div class="modal-body">

                 <form method="post" action ="/users/group/addBill/{{groupId}}">
                     <form id="messageForm">
                <div class="form-group">
                    <label>Enter Message</label>
                    <textarea class="form-control" cols="50" rows="5"></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary" value="SendMessage">
                </div>
            </form>
                 </form>
             </div>

             <!-- Modal Footer -->
             <div class="modal-footer">
                 <button type="button" class="btn btn-default"
                         data-dismiss="modal">
                     Close
                 </button>
             </div>
         </div>
     </div>
 </div>

  <div class="container">
       <div class="row">

        <div class="col-md-1">
        	</div>
        <div class="col-md-11">

            <div class="chat" id="chat"></div>
            <form id="messageForm">
                <div class="form-group" id="chatmsg">
                    <label>Enter Message</label>
                    <textarea class="form-control" id="message" cols="50" rows="5"></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary" value="SendMessage">
                </div>
            </form>
        </div>
       </div>
   </div>

   <script>
       $(function(){
           var socket = io.connect();
           var $messageForm = $('#messageForm');
           var $message = $('#message');
           var $chat = $('#chat');
            var $users = $('#users');
            var $username = $('#username');

            $messageForm.submit(function(e){
                e.preventDefault();
                socket.emit('send message',$message.val());
                $message.val('');
            });

            socket.on('new message',function(data){

                $chat.append('<div class="well well-sm" id="msgchat">' +data.msg + '</div>');

            });
       });
    
   </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>


 <script type="text/javascript">
  var counter = 1;
var limit = 10;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = "Divided Between " + (counter + 1) + "<br><input list='friends' type='email' name='myInputs[]'> <input type='number' name='myInputs1[]'>";
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>